{% extends 'base.html' %}
{% block content %}
  <h2>Suivre des utilisateurs</h2>
  <form action="" method="post">
    {{ form.as_p }}
    {% csrf_token %}
    <button type="submit">Suivre</button>
  </form>
<hr>
  <h2>Abonnements</h2>
  <ul>
    {% for follow in user.follows.all %}
    <li>
      {{ follow }}
      <form method="post" action="{% url 'unfollow_users' follow.id %}" style="display:inline;">
        {% csrf_token %}
        <button type="submit">Unfollow</button>
      </form>
    </li>
    {% endfor %}
  </ul>
  <h2>Abonnés</h2>
  <ul>
    {% for follower in user.followers.all %}
    <li>
      {{ follower }}
    </li>
    {% endfor %}
  </ul>
{% endblock content %}