{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <title>LITRevu</title>
</head>

<body>
  <header>
  <h1>LITrevu</h1>
    <nav>
      {% if user.is_authenticated %}
        <a href="{% url 'home' %}">Flux</a>
        <a href="{% url 'create-ticket' %}">Posts</a>
        <a href="{% url 'follow_users' %}">Suivre des utilisateurs</a>
        <form action="{% url 'logout' %}" method="post">
          {% csrf_token %}
          <button type="submit">Se déconnecter</button>
        </form>
      {% endif %}
    </nav>
  </header>
  <main>
    {% block content %}{% endblock content %}
  </main>
  <footer>
    {% if user.is_authenticated %}
          {% if user.profile_photo %}
          <img class="avatar" src="{{ user.profile_photo.url }}" alt="">
        {% else %}
          <img class="avatar" src="{% static '/images/default_profile.png' %}" alt="">
        {% endif %}
      <p>Salut {{ request.user }}.</p>
      <a href="{% url 'profile_photo_upload' %}">Changer la photo de profil</a>
      <a href="{% url 'passwordchange' %}">Changer le mot de passe</a>
  
    {% endif %}
  </footer>
</body>
</html>