#star-wrapper i {
  transition: color .2s;
}
#star-wrapper label:hover ~ label i,
#star-wrapper label:hover i,
#star-wrapper input:checked ~ label i,
#star-wrapper input:checked + label i {
  color: var(--bs-warning) !important;
}

.bg-ticket {
  background-color: #A1C6EA;
  border-left: 4px solid #6C8EBF; /* bleu-gris accentué */
  position: relative;
  padding-left: 1rem;
}


.bg-review {
  background-color: #F4A9A8;
  border-left: 4px solid #BF6F6E; /* corail foncé */
  position: relative;
  padding-left: 1rem;
}
